[submodule "pack/bundle/opt/base16-vim"]
	path = pack/bundle/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "pack/bundle/opt/coc.nvim"]
	path = pack/bundle/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/bundle/opt/vim-fish"]
	path = pack/bundle/opt/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "pack/bundle/opt/vim-airline"]
	path = pack/bundle/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/bundle/opt/base16-vim-airline-themes"]
	path = pack/bundle/opt/base16-vim-airline-themes
	url = https://github.com/dawikur/base16-vim-airline-themes.git
[submodule "pack/bundle/start/vim-commentary"]
	path = pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/bundle/start/command-t"]
	path = pack/bundle/start/command-t
	url = https://github.com/wincent/command-t
[submodule "pack/bundle/start/vimagit"]
	path = pack/bundle/start/vimagit
	url = https://github.com/jreybert/vimagit
[submodule "pack/bundle/start/vim-gitgutter"]
	path = pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/bundle/start/tagbar"]
	path = pack/bundle/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/bundle/start/rust.vim"]
	path = pack/bundle/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/bundle/start/graphql"]
	path = pack/bundle/start/graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "pack/bundle/start/vim-tmux-navigator"]
	path = pack/bundle/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/bundle/start/vim-tmux-runner"]
	path = pack/bundle/start/vim-tmux-runner
	url = https://github.com/christoomey/vim-tmux-runner
[submodule "pack/bundle/start/vim-test"]
	path = pack/bundle/start/vim-test
	url = https://github.com/vim-test/vim-test.git
